.erro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    min-width: 250px;
}

.erro h2{
    font-weight: 400;
    float: left;
    font-size: 35px;
    margin-bottom: 0 0 50px;
    padding: 1px 0;
    margin-left: 10px;
    margin-bottom: 0px;
}

.erro button{
    width: 250px;
}