@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: "Poppins";
  font-weight: 200;
}

body.dark-mode {
  --text-color: #eee;
  --bkg-color: #121212;
  color: var(--text-color);
  background: var(--bkg-color);
}

body.light-mode {
  --text-color: #121212;
  --bkg-color: #eee;
  color: var(--text-color);
  background: var(--bkg-color);
}

.formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formulario h1 {
  font-weight: 400;
  float: left;
  font-size: 35px;
  border-bottom: 1px solid #6666ff;
  margin-bottom: 0 0 50px;
  padding: 1px 0;
}

.formulario input {
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid #6666ff;
  outline: none;
  background: none;
  font-size: 18px;
  width: 98%;
  float: left;
  margin: 0 1px 10px;
}

.formulario button{
  width: 100%;
}

body button{
  float: right;
}